{% extends "base/base-admin-list.html" %}
{% load utilities %}

{% block header_table %}
    {{object_list|order_by_for_header_table:'id, username, first_name, last_name, email, is_active, is_superuser'}}
{% endblock header_table %}

{% block body_table %}

    <td>{{ object.id }}</td>
    <td>{{ object.username }}</td>
    <td>{{ object.first_name }}</td>
    <td>{{ object.last_name }}</td>
    <td>{{ object.email }}</td>
    <td>{{ object.is_active|iconyesno }}</td>
    <td>{{ object.is_superuser|iconyesno  }}</td>

{% endblock body_table %}