{% load static crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">
    <head>
        
        {% include 'includes/head.html' %}
        <!-- Specific Page CSS goes HERE    -->
        {% block stylesheets %}{% endblock stylesheets %}

    </head>

    <body>
        <div class="auth-wrapper">
            <div class="auth-content">
                <div class="card">
                    <div class="row align-items-center text-center">
                        <div class="col-md-12">
                            <div class="card-body">
                                <img src="{% static "images/logo blanco.png" %}" alt="" class="img-fluid mb-4">
                                <form method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <button type="submit" class="btn btn-primary">Ingresar</button>
                                    <input type="hidden" name="next" value="{{ next }}">
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>