{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title> CasAdmin - {{ title }} </title>
<!-- Favicon icon -->
<!-- <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-icon.png" %}"> -->
<link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

<!-- font -->
<link href="{% static "fonts/feather.css" %}" rel="stylesheet" /> <!-- ver de que es este  -->
<link href="{% static "fonts/fontawesome.css" %}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">

<!-- vendor -->
<link href="{% static "css/style.css" %}" rel="stylesheet" />