<header class="pc-header ">
  <div class="header-wrapper">
      <div class="mr-auto ">
        <div class="page-header-title mt-4">
            <h5 class="m-b-10">
                {% block title %}
                    {% if icon %}
                        <i class="material-icons"  style="vertical-align: -6px;">{{ icon }}</i>
                    {% endif %}
                    {{title|title}}
                {% endblock title %}
            </h5>
        </div>
      </div>
      <div class="ml-auto">
          <ul class="list-unstyled">
              <li class="dropdown pc-h-item">
                  <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                      <img src="/static/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
                      <span>
                          <span class="user-name">Joseph William</span>
                          <span class="user-desc">Administrator</span>
                      </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">        
                      <a href="{% url 'logout' %}" class="dropdown-item">
                          <i class="material-icons-two-tone">logout</i>
                          <span>salir</span>
                      </a>
                  </div>
              </li>
          </ul>
      </div>

  </div>
</header>