{% load static %}
    <script src="{% static "js/vendor-all.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/plugins/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/plugins/feather.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/pcoded.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/plugins/apexcharts.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/pages/dashboard-sale.js" %}" type="text/javascript"></script>




 
  