{% load static %}
<nav class="pc-sidebar ">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="{% url 'home' %}" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="{% static "images/logo.png" %}" alt="" class="logo logo-lg">
                <img src="{% static "images/logo-sm.png" %}" alt="" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item {% if 'home' == segment %} active {% endif %}">
                    <a href="{% url 'home' %}" class="pc-link ">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">home</i>
                        </span>
                        <span class="pc-mtext">
                            Dashboard
                        </span>
                    </a>
                </li>

                <li class="pc-item {% if 'transactions' == segment %} active {% endif %}">
                    <a href="#" class="pc-link ">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">paid</i>
                        </span>
                        <span class="pc-mtext">
                            Mis transacciones
                        </span>
                    </a>
                </li>

                <li class="pc-item {% if 'settings' == segment %} active {% endif %}">
                    <a href="#" class="pc-link ">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">settings</i>
                        </span>
                        <span class="pc-mtext">
                            Configuración
                        </span>
                    </a>
                </li>

                {% if user.is_superuser %}
                    <li class="pc-item pc-caption">
                        <label>Administración</label>
                        <span>Panel de Administración</span>
                    </li>
                    
                    <li class="pc-item {% if 'user' == segment %} active {% endif %}">
                        <a href="{% url 'userList' %}" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">person</i>
                            </span>
                            <span class="pc-mtext">
                                Usuarios
                            </span>
                        </a>
                    </li>
                    <li class="pc-item {% if 'bank' == segment %} active {% endif %}">
                        <a href="{% url 'bankList' %}" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">account_balance</i>
                            </span>
                            <span class="pc-mtext">
                                Bancos
                            </span>
                        </a>
                    </li>
                    <li class="pc-item {% if 'credential' == segment %} active {% endif %}">
                        <a href="{% url 'credentialList' %}" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">badge</i>
                            </span>
                            <span class="pc-mtext">
                                Credenciales
                            </span>
                        </a>
                    </li>
                    <li class="pc-item {% if 'account' == segment %} active {% endif %}">
                        <a href="{% url 'accountList' %}" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">credit_card</i>
                            </span>
                            <span class="pc-mtext">
                                Cuenta
                            </span>
                        </a>
                    </li>
                    <li class="pc-item {% if 'accountType' == segment %} active {% endif %}">
                        <a href="{% url 'accounttypeList' %}" class="pc-link ">
                            <span class="pc-micon">
                                <i class="material-icons-two-tone">credit_card</i>
                            </span>
                            <span class="pc-mtext">
                                Tipo de Cuenta
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
